GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT=<PROJECT_ID>
GOOGLE_CLOUD_LOCATION=eu
USE_FIRESTORE=false
PUBSUB_TOPIC=machine-telemetry-events
PUBSUB_SUBSCRIPTION=machine-telemetry-events-worker
